
	/*
	base github
	https://uo266047.github.io/SEW1/
	*/
	/*
	base xampp
	htt://localhost/SEW/
	*/
	

body {
      font: 400 15px Tahoma, sans-serif;
      line-height: 1.8;
      color:black ;
      background-color: white;
  }
h1 {
	font: Helvetica, sans-serif;
	font-weight: 700;
	font-stretch:expanded;
     	background-image:url("https://uo266047.github.io/SEW2/multimedia/losSopranoCabecera.jpg"); 
      	color: #fff;
	font-weight: bold;
      	text-transform: uppercase;
      	padding: 100px 25px;
      	text-align: center;     
  }
  
h2 {
	font: Helvetica, sans-serif;
	font-weight: 700;
	font-style: italic;
      	color: black;
      	padding: 5px 5px; 
      	text-transform: uppercase;	  
  }

nav{
	padding:0.02em;
	border-raius: 0.5em;
	width:100%;
	overflow:hidden;
	position:relative;
	margin-bottom:1em;
	background-color:#FABADA;
	clear:both;
}

nav ol{
	list-styletipo:none;
	font-family:Helvetica, sans-serif;
	font-size; 1.45em;
	font-weight: bold;
}

nav li{
	display:inline-block;
	vertical-align:top;
}

nav ol a{
	float:left;
	color: #ffa500;
	text-decoration:none;
	paddign:0.25em;
	padding-right:1em;
}

section{
	margin: 0.75em;
	overflow:hidden;
}

section p,p{
	font-family:Helvetica,sans-serif;
	font-size: 1em;
	text-align:justify;
}
  
ol{
	 color:#3b83bd;
	 list-style-type: lower-roman;
	 
 }

footer{
    display: flex;
    align-items: center;
    font-family: serif;
    border-radius: 0.5em;
    font-weight: bold;
    color: beige;
    background-color:#FABADA;
    width: 100%;
}
 
footer img{
    max-height: 1.5em;
    max-width: 1.5em;
    height: auto;
    width: auto;
    padding: 0.8em;
    margin-right: 35%;
}

a:link{ 
		color:grey;
	}

a:visited{
		color:#8c004b;
	}
	
table{	
		background-color:#f6f6f6;
		color:#818181;
		width:100%;
		text-align:center;
		
	}
	
th{
	background-color:black;
	color:white;
}
	
aside{
		
	}
	
